---
import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro';
import ContactCTA from '../components/ContactCTA.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<main class="wrapper stack gap-20 lg:gap-48">
		<section class="section with-background with-cta">
			<header class="section-header stack gap-2 lg:gap-4">
				<h3>What I use</h3>
				<p>Take a look at my beloved gear, which helps me to make my work more efficient</p>
			</header>

			<div class="gallery">
				<Grid variant="offset">
					{
						<li>
							Thinkpad T490S
						</li>
						<li>
							Hyper
						</li>
					}
				</Grid>
			</div>

		<ContactCTA />
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
